@model LoggedOutViewModel
@inject IHtmlLocalizer<LoggedOutViewResource> Localizer
@{
    // set this so the layout rendering sees an anonymous user
    ViewData["Title"] = Localizer.GetString(r => r.Title);
    ViewData["signed-out"] = true;
}
<!-- LoggedOut -->
<div class="page-header logged-out">
    <h1>
        @Localizer.GetString(r => r.Title)
        <small>@Localizer.GetString(r => r.Descr)</small>
    </h1>

    @if (Model.PostLogoutRedirectUri.IsNotEmpty())
    {
        var redirectUriStart = $"<a class='PostLogoutRedirectUri' href='{Model.PostLogoutRedirectUri}'>";

        <div>
            @Localizer.GetString(r => r.PostLogoutRedirectUriFormat, redirectUriStart, "</a>", $"<span>{Model.ClientName}</span>")
        </div>
    }

    @if (Model.SignOutIframeUrl != null)
    {
        <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>
@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
