/.vs
/bin
/examples/Librame.Entities/obj
/examples/Librame.Website/wwwroot/lib
*.user
/resource/LibrameCore.pfx
/resource/LibrameCore.pfx.txt
/src/Librame/obj
/tests/Librame.Mvc.Tests/obj
/examples/Librame.Entities/bin
/examples/Librame.Website/bin
/examples/Librame.Website/obj
/examples/Librame.Website/wwwroot/logs
/src/Librame/bin
/src/Librame.Mvc/bin
/src/Librame.Mvc/obj
/tests/Librame.Mvc.Tests/bin
/tests/Librame.Tests/bin
/tests/Librame.Tests/obj
