@model UseRecoveryCodeViewModel
@{
    ViewData["Title"] = "Use recovery code";
}
<!-- UseRecoveryCode -->
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3>@ViewData["Title"]</h3>
                <p>@ViewData["Status"]</p>
            </div>
            <div class="form-top-right">
                <!-- <i class="fa fa-key"></i> -->
            </div>
        </div>

        <div class="form-bottom">
            <form method="post" class="login-form" asp-controller="Account" asp-action="SendCode" asp-route-returnurl="@Model.ReturnUrl">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Code" class="sr-only"></label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
