@using LibrameCore.Authentication;
@{
    ViewData["Title"] = "Admin";

    var identity = User.AsLibrameIdentity(Context.RequestServices);
}

<h1>欢迎登陆 @identity.Name</h1>
<hr />

<h2>当前角色：@string.Join(",", identity.Roles)</h2>
<h2>验证类型：@identity.AuthenticationType</h2>
<h2>签发时间：@identity.IssuedTimeUtc.ToLocalTime().ToString()</h2>
<h2>过期时间：@identity.ExpirationTimeUtc.ToLocalTime().ToString()</h2>
<hr />

<h2><a href="/Account/TestAccessDenied">测试权限不足</a></h2>