@inject IApplicationContext Application
@inject ICompositeViewEngine Engine
@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }

    var localizer = Application.Localizers.GetManageLayoutLocalizer();
    var uiInfo = Application.GetUi(ViewContext.RouteData.AsRouteDescriptor());
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" />
    <title>@ViewData["Title"] - @uiInfo?.Title</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/manage/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" href="~/manage/css/ready.css" />
        <link rel="stylesheet" href="~/manage/css/demo.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/manage/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" />
        <link rel="stylesheet" href="~/manage/css/ready.css" />
        <link rel="stylesheet" href="~/manage/css/demo.css" />
    </environment>
</head>
<body>
    <div class="wrapper">
        <div class="main-header">
            <div class="logo-header">
                <a href="/" class="logo">
                    @uiInfo?.Title
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
            </div>

            <nav class="navbar navbar-header navbar-expand-lg">
                <div class="container-fluid">
                    <!-- Search Box -->
                    <form class="navbar-left navbar-form nav-search mr-md-5" action="">
                        <div class="input-group">
                            <input type="text" placeholder="@localizer["SearchBox"]" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-search search-icon"></i>
                                </span>
                            </div>
                        </div>
                    </form>

                    <!-- Login Info -->
                    @{ 
                        await Engine.RenderThemepackPartialViewAsync(ViewContext, "_LoginPartialByManage",
                            viewName => Html.RenderPartialAsync(viewName, Application));
                    }
                </div>
            </nav>
        </div>

        <div class="sidebar">
            <div class="scrollbar-inner sidebar-wrapper">
                <!-- Sidebar -->
                @{
                    await Engine.RenderThemepackPartialViewAsync(ViewContext, "_SidebarPartialByManage",
                        viewName => Html.RenderPartialAsync(viewName, Application));
                }
            </div>
        </div>

        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <!-- Footbar -->
                    @{
                        await Engine.RenderThemepackPartialViewAsync(ViewContext, "_FootbarPartialByManage",
                            viewName => Html.RenderPartialAsync(viewName, Application));
                    }
                </div>
            </footer>
        </div>
    </div>

    <!-- Modal -->
    <!--
    <div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h6 class="modal-title"><i class="la la-frown-o"></i> Under Development</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p>Currently the pro version of the <b>Ready Dashboard</b> Bootstrap is in progress development</p>
                    <p>
                        <b>We'll let you know when it's done</b>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    -->

    <environment include="Development">
        <script src="~/manage/js/core/jquery.3.2.1.min.js"></script>
        <script src="~/manage/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
        <script src="~/manage/js/core/popper.min.js"></script>
        <script src="~/manage/js/core/bootstrap.min.js"></script>
        <script src="~/manage/js/plugin/chartist/chartist.min.js"></script>
        <script src="~/manage/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
        <script src="~/manage/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
        <script src="~/manage/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
        <script src="~/manage/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
        <script src="~/manage/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
        <script src="~/manage/js/plugin/chart-circle/circles.min.js"></script>
        <script src="~/manage/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="~/manage/js/ready.min.js"></script>
        <script src="~/manage/js/demo.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.1.min.js"
                asp-fallback-src="~/manage/js/core/jquery.3.2.1.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="~/manage/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
        <script src="~/manage/js/core/popper.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/bootstrap.min.js"
                asp-fallback-src="~/manage/js/core/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/manage/js/plugin/chartist/chartist.min.js"></script>
        <script src="~/manage/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
        <script src="~/manage/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
        <script src="~/manage/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
        <script src="~/manage/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
        <script src="~/manage/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
        <script src="~/manage/js/plugin/chart-circle/circles.min.js"></script>
        <script src="~/manage/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="~/manage/js/ready.min.js"></script>
        <script src="~/manage/js/demo.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
