@page
@model AbstractDownloadPersonalDataPageModel
@inject IExpressionHtmlLocalizer<DownloadPersonalDataViewResource> Localizer
@{
    ViewData["Title"] = Localizer[r => r.Title];
}

<!-- DownloadPersonalData -->
<h4>@ViewData["Title"]</h4>
