@page
@model DownloadPersonalDataPageModel
@inject IExpressionHtmlLocalizer<DownloadPersonalDataViewResource> Localizer
@{
    ViewData["Title"] = Localizer[r => r.Title];
    ViewData["ActivePage"] = ViewPageNames.PersonalData;
}

<!-- DownloadPersonalData -->
<h4>@ViewData["Title"]</h4>
