@page
@model ConfirmEmailPageModel
@inject IExpressionHtmlLocalizer<ConfirmEmailViewResource> Localizer
@{
    ViewData["Title"] = Localizer[r => r.Title];
}
<!-- AccessDenied -->
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3>@ViewData["Title"]</h3>
                <p>@Localizer[r => r.Descr]</p>
            </div>
            <div class="form-top-right">
                <!-- <i class="fa fa-key"></i> -->
            </div>
        </div>
    </div>
</div>