@page
@model DownloadPersonalDataPageModel
@inject IHtmlLocalizer<DownloadPersonalDataViewResource> Localizer
@{
    ViewData["Title"] = Localizer.GetString(r => r.Title);
    ViewData["ActiveView"] = ViewPageNames.PersonalData;
}

<!-- DownloadPersonalData -->
<h4>@ViewData["Title"]</h4>
