@model IEnumerable<string>
@{
    ViewData["Title"] = "Index";

    var uploadDirectory = ViewBag.UploadsDirectory as string;
}

<h1>文件列表</h1>
<hr />

<dl>
    @foreach (var fs in Model)
    {
        if (!string.IsNullOrEmpty(fs))
        {
            var path = fs.Replace(uploadDirectory, string.Empty);

            if (path.StartsWith(@"\"))
            {
                path = path.TrimStart(@"\");
            }

            if (System.IO.Directory.Exists(fs))
            {
                <dd>@path</dd>
            }
            else
            {
                <dd><a href="/File/Download?path=@path" target="_blank">@path</a></dd>
            }
        }
    }
</dl>