@page
@model LibrameCore.WebPage.Pages.AdminModel
@{
    ViewData["Title"] = "Admin";
}

<h1>欢迎登陆 @Model.Identity.Name</h1>
<hr />

<h2>当前角色：@string.Join(",", Model.Identity.Roles)</h2>
<h2>验证类型：@Model.Identity.AuthenticationType</h2>
<h2>签发时间：@Model.Identity.IssuedTimeUtc.ToLocalTime().ToString()</h2>
<h2>过期时间：@Model.Identity.ExpirationTimeUtc.ToLocalTime().ToString()</h2>
<hr />

<h2><a href="http://localhost:33591/Account/TestAccessDenied">测试权限不足</a></h2>