@{ 
    ViewData["Title"] = "Validate";
}
<h2>Token Validate</h2>
<hr />

<div class="form-horizontal">
    <form action="/handler/token" method="get">
        <fieldset>
            <h3 class="col-sm-offset-1">Token Info</h3>
        </fieldset>

        <div class="form-group">
            <label for="token" class="control-label col-sm-1">令牌</label>
            <div class="col-sm-6">
                <textarea id="token" name="token" class="form-control" rows="10">@ViewBag.Token</textarea>
                <span style="color:red;">*</span>
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="control-label col-sm-1">需要的角色</label>
            <div class="col-sm-6">
                <input id="required_roles" name="required_roles" class="form-control" value="Administrator" placeholder="Empty(True)/Administrator(True)/Guest(False)" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-6">
                <button type="submit" class="btn btn-default">验证</button>
            </div>
        </div>
    </form>
</div>