@model DisplayRecoveryCodesViewModel
@inject IHtmlLocalizer<DisplayRecoveryCodesViewResource> Localizer
@{
    ViewData["Title"] = Localizer.GetString(r => r.Title);
}

<!-- DisplayRecoveryCodes -->
<h4>@ViewData["Title"]</h4>

<p class="text-success">@ViewData["StatusMessage"]</p>

<div class="row">
    <div class="col-md-10">
        <dl class="dl-horizontal">
            <dt>@Localizer.GetString(r => r.Descr)</dt>
            @foreach (var code in Model.Codes)
            {
                <dd>
                    <text>@code</text>
                </dd>
            }
        </dl>
    </div>
</div>